<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <a class="navbar-brand mr-auto" href="#">
    MetaData
  </a>




  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item dropdown" appDropdown>
        <a class="nav-link dropdown-toggle" href="#">Dropdown</a>
        <ul class="dropdown-menu menu">
          <li class="dropdown-item"> one</li>
        </ul>
      </li>
    </ul>
    <span class="mr-auto"></span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <span class="mr-auto"></span>
    <button class="btn btn-outline-success" type="submit" >
      <span class="mr-3" style="background-color: inherit;">Login</span>
      <fa-icon [icon]="faSignInAlt" ></fa-icon></button>
  </div>
</nav>


